{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier la carte de fidélité</h1>

    {{ form_start(form) }}
        {{ form_row(form.points) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('carte_fidelite_index') }}">Retour à la liste</a>
{% endblock %}
